.preCleanUp-feed {
    padding: 5px;
    position:relative;
    top: 10px;
}

.preCleanUp-feed-card {
    background-color: white;
    box-shadow: 2px 2px 5px black;
    padding: 20px;
    margin-bottom: 10px;
}

.preCleanUp__header {
    align-items: center;
    border-bottom: 1px solid gray;
    display: flex;
    padding: 30px;
}

.preCleanUp__image {
    height: auto;
    width: 100%;
}

.preCleanUp__location {
    font-size: 40px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}


.preCleanUp__description {
    font-size: 30px;
    padding: 5px;
}

.hidden{
    display: none;
}

.preCleanUpForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

.preCleanUpForm__btn {
    background: #01bc3d;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    height: 40px;
    margin-top: 20px;
    width: 90%;
}

.preCleanUpForm__btn:hover {
    background: #0a720f;
}

.form__label {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}

.preCleanUpForm__location,
.preCleanUpForm__description,
.preCleanUpForm__scheduledDate {
    height: 40px;
    margin-top: 10px;
    width: 87%;
    padding-left: 1%;
    padding-right: 1%;
}

/* Accordion CSS START */

.tab {
    margin-bottom: 1px;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-top: 15px;
    width: 100%;
}

.preCleanUpForm__toggle {
    background: #01bc3d;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    line-height: 3;
    padding: 10px;
    width: 100%;
}

.toggle__checkbox {
    display: none;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

/* :checked */
.tab input:checked ~ .tab-content {
    max-height: 100vh;
}
 
.preCleanUp-toggle__button {
    background: #01bc3d;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}

.cleanUpCommentForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cleanUpCommentForm__content {
    border: 1px solid black;
    margin-right: 1%;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.commentForm__button {
    background: #01bc3d;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 0px 0px 15px 10px;
    padding: 10px;
}

.comment__content {
    padding: 10px 10px 10px 0px;
}