
.avatar__image {
  border-radius: 360px;
  box-shadow: 1px 1px 5px black;
  height: 60px;
  margin: 20px;
  width: 60px;
}

.header {
  align-items: center;
  background: #52c234;
  background: -webkit-linear-gradient(to right, #52c234, #0a720f); 
  background: linear-gradient(to right, #52c234, #0a720f); 
  box-shadow: 2px 2px 10px black;
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.mobile__menu__button {
  color: white;
  margin: 10px;
}

.mobile__menu__button:hover {
  text-shadow: 2px 2px 2px black;
}

.material-icons-outlined {
  font-size: 40px;
}
  


