
.avatar__image {
  border-radius: 360px;
  box-shadow: 1px 1px 5px black;
  height: 60px;
  margin: 20px;
  margin-left: -40px;
  width: 60px;
}

.header {
  align-items: center;
  background: #01bc3d;
  background: -webkit-linear-gradient(to right, #01bc3d, #0a720f); 
  background: linear-gradient(to right, #01bc3d, #0a720f); 
  box-shadow: 2px 2px 10px black;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.mobile__menu__button {
  color: white;
  margin: 10px;
}

.mobile__menu__button:hover,
.user__points:hover,
.avatar__image:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px black;
}

.material-icons-outlined {
  font-size: 40px;
}

.nav {
  display: none;
}

.user__container {
  display: flex;
  flex-direction: row;
  float: right;
}

.user__points {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 2px -2px 2px rgba(255, 255, 255, 0.2) inset  ;
  color: white;
  height: 20px;
  margin-top: 30px;
  padding: 10px;
  padding-right: 50px;
}

@media only screen and (min-width: 700px) {
  .nav {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 95px;
    width: 400px;
  }

  .nav__item {
    padding: 20px;
    padding-bottom: 29px;
    padding-top: 29px;
    
  }

  .nav__item:hover {
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}
