.map-view {
    height: 81.5%;
    width: 100%;
    position: fixed;
    margin-top: -5px;
}

.map-container {
    padding-top: 85px;
}

@media only screen and (min-width: 700px) {
    .map-view {
        height: 89.2%;
    }
}