.map-view {
    height: 81vh;
    position: fixed;
    width: 100%;
}

.map-container {
    padding-top: 85px;
}

@media only screen and (min-width: 700px) {
    .map-view {
        height: 91vh;
    }
}