.opened {
    display: block;
}

.closed {
    display: none
}

.menu__toggle {
    color: white;
    height: 60px;
    margin: 10px;
    width: 50px;
}

.menu__toggle:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px black;
}

.menu__dropdown {
    position: relative;
}

.menu__items {
    background: #01bc3d;
    background: -webkit-linear-gradient(to right, #01bc3d, #0a720f); 
    background: linear-gradient(to right, #01bc3d, #0a720f); 
    box-shadow: 2px 2px 10px black;
    margin-top: 2px;
    position: absolute;
    width: 180px;
}

.menu__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    list-style: none;
    margin: 0px;
    padding: 20px 20px 20px 20px;
    text-align: left;
    width: 140px;
}

.menu__item:last-child {
    margin-bottom: 10px;
}

.menu__item:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}