.login__logo {
    height: auto;
    width: 200px;
}

.landing-page {
    align-items: center;
    background-image: url("../../media/heroimage.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 80px;
}


.users-leaderboard {
    padding: 5px;
    position:relative;
    top: 10px;
}

.users-leaderboard-card {
    background-color: white;
    box-shadow: 2px 2px 5px black;
    margin-top: 20px;
    padding: 10px 20px 20px 20px;
    height: 80%;
}

.user__userName {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}

.user__avatar {
    box-shadow: 1px 1px 5px black;
    border-radius: 360px;
    height: auto;
    width: 100%;
}

.user__pointCount {
    font-size: 20px;
    padding: 10px 5px 5px 0px;
}

.userLogin,
.newUserForm {
    display: flex;
    flex-direction: column;
}

.userLogin__form,
.newuser-content {
    background-color: white;
    box-shadow: 2px 2px 5px black;
    padding: 10px 20px 20px 20px;
    margin: 10px 10% 0px 10%;
    min-width: 340px;
}

.userLogin__form h2 {
    padding: 10px 0px 10px 0px;
}

.userLogin__form h6 {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid gray;
}

.userLogin__form label {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}

.userLogin__btn,
.newUserForm__btn {
    background: #01bc3d;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    height: 40px;
    margin-top: 20px;
    width: 100%;
}

.userLogin__btn:hover,
.newUserForm__btn:hover {
    background: #0a720f;
}

.userLogin__userName,
.userLogin__password,
.newUserForm__userName,
.newUserForm__password,
.newUserForm__avatar {
    flex: 1;
    height: 40px;
    margin-top: 10px;

    padding-left: 1%;
    padding-right: 1%;

}

.newUserForm label {
    padding: 10px 0px 10px 0px;
}

.register {
    color: #0a720f;
}

.register:hover {
    cursor: pointer;
}

.newuser {
    align-items: center;
    background-image: url("../../media/heroimage.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 80px;
}

.newuser__logo {
    height: auto;
    width: 200px;
}

@media only screen and (min-width: 700px) {
    .userLogin__form {
        margin: 10px 25% 0px 25%;
    }
}

@media only screen and (min-width: 1300px) {
    .userLogin__form {
        margin: 10px 35% 0px 35%;
    }
}