.footer {
    background: #01bc3d;  
    background: -webkit-linear-gradient(to right, #01bc3d, #0a720f);  
    background: linear-gradient(to right, #01bc3d, #0a720f); 
    bottom: 0;
    box-shadow: 2px -2px 10px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.footer__button {
    color: white;
    margin: 5px;
}

.footer__button:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px black;
  }

.material-icons {
    font-size: 100px !important;
}

@media only screen and (min-width: 700px) {
    .footer {
        display: none;
    }

}