.postCleanUp-feed {
    padding: 5px;
    position:relative;
    top: 85px;
}

.postCleanUp-feed-card {
    box-shadow: 2px 2px 5px black;
    padding: 20px;
    margin-bottom: 10px;
}

.postCleanUp__header {
    align-items: center;
    border-bottom: 1px solid gray;
    display: flex;
    padding: 10px;
}

.postCleanUp__image {
    height: auto;
    width: 100%;
}

.postCleanUp__avatar {
    border-radius: 360px;
    box-shadow: 1px 1px 5px black;
    height: 35px;
    width: 35px;
}

.postCleanUp__location {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}

.postCleanUp-feed__button {
    background: transparent;
    border: none;
}

.postCleanUp-feed__button-icon-down {
    font-size: 35px;
    padding: 10px;
    margin-top: 13px;
}

.postCleanUp-feed__button-icon-up {
    font-size: 35px;
    padding: 10px;
    margin-bottom: 13px;
}

.postCleanUp__vote-container {
    display: flex;
    padding: 10px;
}

.postCleanUp__votes {
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
}

.postCleanUp__caption {
    font-size: 20px;
    padding: 5px;
}

.postCleanUp__date {
 padding: 5px;
}

.postCleanUpForm {
    margin-top: 10rem;
}

.hidden{
    display: none;
}