.postCleanUps__container {
    width: 100%;
}

.postCleanUp-feed {
    padding: 5px;
    position:relative;
    top: 10px;
}

.postCleanUp-feed-card {
    background-color: white;
    box-shadow: 2px 2px 5px black;
    padding: 10px 20px 20px 20px;
}


.postCleanUp__header {
    align-items: center;
    display: flex;
    padding: 10px 10px 10px 5px;
    margin-bottom: 10px;
}

.postCleanUp__image {
    box-shadow: 1px 1px 5px black;
    height: auto;
    width: 100%;
}

.postCleanUp__avatar {
    border-radius: 360px;
    box-shadow: 1px 1px 5px black;
    height: 35px;
    width: 35px;
}

.postCleanUp__location {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}

.postCleanUp-feed__button {
    background: transparent;
    border: none;
}

.postCleanUp-feed__button-icon-down {
    font-size: 35px;
    padding: 10px 10px 10px 0px;
}

.postCleanUp-feed__button-icon-down:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.postCleanUp-feed__button-icon-up {
    font-size: 35px;
    padding: 10px;
}

.postCleanUp-feed__button-icon-up:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.postCleanUp__vote-container {
    display: flex;
    margin-left: -5px;
    
}

.postCleanUp__votes {
    font-weight: bolder;
    font-size: 20px;
    margin-top: 17px;
}

.postCleanUp__caption {
    font-size: 20px;
    padding: 10px 5px 5px 0px;
}

.postCleanUp__date {
 padding: 5px;
}

.hidden{
    display: none;
}

.postCleanUpForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

.postCleanUpForm__btn {
    background: #01bc3d;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    height: 40px;
    margin-top: 20px;
    width: 90%;
}

.postCleanUpForm__btn:hover {
    background: #0a720f;
}

.form__label {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}

.postCleanUpForm__caption,
.postCleanUpForm__location,
.postCleanUpForm__photo {
    height: 40px;
    margin-top: 10px;
    width: 87%;
    padding-left: 1%;
    padding-right: 1%;
}

/* Accordion CSS START */

.tab {
    overflow: hidden;
    padding-top: 15px;
    position: relative;
    text-align: center;
    width: 100%;
}

.postCleanUpForm__toggle {
    background: #01bc3d;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    line-height: 3;
    padding: 10px;
    width: 100%;
}

.postCleanUp-toggle__button {
    background: #01bc3d;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}

.toggle__checkbox {
    display: none;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

/* :checked */
.tab input:checked ~ .tab-content {
    max-height: 100vh;
}

.cleanUpCommentForm {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cleanUpCommentForm__content {
    border: 1px solid black;
    flex-grow: 3;
    margin-right: 1%;
    margin-bottom: 15px;
    padding: 10px;
}

.commentForm__button {
    background: #01bc3d;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 0px 0px 15px 10px;
    padding: 10px;
}

.comment__content {
    padding: 10px 10px 10px 0px;
}


