* {
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

a {
text-decoration: none;
}
  
body {
    background-color: #d5edd8;
}

.body__container {
    background-color: #d5edd8;
    padding: 80px 0px 0px 0px;
    margin: 0px 0px 40px 0px;
}


@media only screen and (min-width: 700px) {
    .body__container {
        padding-left: 15%;
        padding-right: 15%;
    }

}

@media only screen and (min-width: 1300px) {
    .body__container {
        padding-left: 25%;
        padding-right: 25%;
    }
}