.body__container {
    padding: 5px;
    padding-bottom: 80px;
}

@media only screen and (min-width: 700px) {
    .body__container {
        padding-left: 15%;
        padding-right: 15%;
    }

}
body {
    background-color: #d5edd8;
}